doctype html
html(ng-app='gifselfies', lang='en')
  head
    meta(charset='utf-8')
    title gifselfi.es
    link(type='text/css', rel='stylesheet', href='/style.css')
  body()
    div(ng-hide='appInitialized') - LOADING -
    .container(ng-show='appInitialized && !appIncompatible', class='ng-hide')
      .selfie-taker(ng-controller='SelfieTakerCtrl')
        video(gs-webcam, ng-hide='webcamError')
        .permission-error(ng-show='webcamError == "PermissionDeniedError"')
          p Please allow this page to use your webcam, thx.
    .incompatible(ng-show='appIncompatible', class='ng-hide')
      p Plz upgrade browser, thx.
    script(type='text/javascript', src='/client.js')
