doctype html
html(ng-app='gifselfies', lang='en')
  head
    meta(charset='utf-8')
    title gifselfi.es
    link(type='text/css', rel='stylesheet', href='/style.css')
  body()
    div(ng-hide='appInitialized') - LOADING -
    .container(ng-show='appInitialized && !appIncompatible', class='ng-hide')
      .selfie-taker(ng-controller='SelfieTakerCtrl')
        .ready(ng-show='webcamReady')
          video(gs-webcam, gs-config='webcamConfig', ng-hide='webcamError')
          button.capture-button(ng-click='capture(numFrames, frameDelay)') Capture
          .controls
            .field
              label(for='numFrames') Number of frames
              input(name='numFrames', type='number', min='1', max='100', ng-model='numFrames')
            .field
              label(for='frameDelay') Frame delay
              input(name='frameDelay', type='number', min='34', max='5000', ng-model='frameDelay')
            .field
              label(for='playbackRate') Playback rate
              input(name='playbackRate', type='number', min='0.1', max='1000',
                ng-model='playbackRate')
        .permission-error(ng-show=
          'webcamError == "PermissionDeniedError" || webcamError == "PermissionDismissedError"')
          p Please allow this page to use your webcam, thx.
        ul.capture-list
          li(ng-repeat='capture in captures')
            a(ng-click='preview(capture)')
              img(ng-src='{{ capture.imageUrl }}')
        .preview(ng-show='previewActive', ng-click='closePreview()')
          img(ng-src='{{ previewCapture.imageUrl }}', ng-click='$event.stopPropagation()')
    .incompatible(ng-show='appIncompatible', class='ng-hide')
      p Plz upgrade browser, thx.
    script(type='text/javascript', src='/client.js')
