.ng-hide {
  display: none;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0px;
}

video {
  display: block;
  margin: 0px auto;
}

.capture-button {
  display: block;
  margin: 0px auto;
}
